SmartFridge/.idea/.name
SmartFridge/.idea/compiler.xml
SmartFridge/.idea/copyright/profiles_settings.xml
SmartFridge/.idea/encodings.xml
SmartFridge/.idea/gradle.xml
SmartFridge/.idea/misc.xml
SmartFridge/.idea/modules.xml
SmartFridge/.idea/runConfigurations.xml
SmartFridge/.idea/vcs.xml
SmartFridge/app/app.iml
*.gradle
SmartFridge/app/proguard-rules.pro
SmartFridge/gradle.properties
SmartFridge/gradle/wrapper/gradle-wrapper.jar
SmartFridge/gradle/wrapper/gradle-wrapper.properties
SmartFridge/gradlew
SmartFridge/gradlew.bat
SmartFridge/SmartFridge.iml